@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}
:root{
    --amarillo:#F8C906;
    --negrish:#2B2D2C;
    --grey:#CBC8C5;
    --white:#fff;
    
}
html{
    font-size: 12px;
}
body{
    font-size: 1.6rem;
    background-color: whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

.container{
    max-width: 3000px;
    margin: 20px auto;
    text-align: center;
}

.container .header{
    width: 335%;
    height: 150px;
    background-color: var(--amarillo);
    display: flex;
    position: relative;
    border-radius: 15px;
}
.header-text{
    color: white;
    width: 60%;
    margin: auto;
}
.header-text p{
    font-size: 40px;
    font-weight: 450;
}
.content{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15%;
}
.left{
    width: 85%;
    background-color: var(--grey);
    height: 200%;
    border-radius: 10px;
    
}
.left .Experiencia{
    margin-top: 10%;
    padding: 15px;
    margin-bottom: 5px;
}
.Experiencia h2{
    font-size: 25px;
    font-weight: 1000;
    margin: 15px 0;
}
a{
    color:white;
    text-decoration:dashed;
}

a:link {
    color:var(--negrish);
}

a:visited {
    color: var(--white);
}
a:hover {
    color: var(--amarillo);
}
a:active {
    color: blue;
}

.Experiencia p{
    font-size: 18px;
    margin: 10px 0;
}
ul{
    margin-left: 3%;
    margin-bottom: 2%;
}
li{
    list-style-type:disc;
}
hr{
    border-style: groove;
    
}
.card{
    text-align: center;
    background-color:white;
    max-width: 500px;
    margin-top: -30px;
    padding-bottom: 2rem;
    width: 100%;
    box-shadow: 0 2px 12px 3px rgba(53, 53, 53 0.1);
    border-radius: 4px;
}
.card-head{
    position: relative;
    height: 90px;
}

.user-image img{
    width: 200px;
    height: 200px;
}
.user-image{
    position: absolute;
    top: -118px;
    left: 250%;
    /* transform: translate(-50%,-50%); */
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid white;
    cursor: pointer;
    transition: .5s;
    user-select: none;
    filter: grayscale(100%);
}
.user-image:hover{
    filter: grayscale(0%) ;
    
}
.user-post-adress{
    padding: 1rem;
    display: none;
    align-items: center;
    justify-content: center;
}
.user-post-adress > div{
    padding: 0 2 rem;
}
.user-post-adress > div span{
    display: block;
}
.user-post-adress > div span:first-child{
    font-weight: 700;
    font-size: 2rem;
    color: var(--negrish);
    opacity: 0.7;
    margin-right: 2rem;
    
}
.user-post-adress > div span:last-child{
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--negrish);
    margin-top: 0.7rem;
}
.card-body{
    padding: 0 3rem 3.8rem 3rem;
}
.user-name{
    padding: 3rem 0 1.6rem 0;
    font-size: 1.9rem;
    color: var(--negrish);
    
}
.user-name-title{
    font-weight: 700;
}
.user-name-full{
    font-weight: 600;
}
.user-age{
    color: var(--negrish);
}
.user-location-adress span{
    color: var(--negrish);
    font-size: 1.8rem;
    opacity: 0.9;
    letter-spacing: 1px;
}
.card-foot{
    padding-top: 2.4rem;
    margin: 2.4rem 3rem;
    border-top: 1px solid var(--amarillo);
}

.card-foot a:hover{
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}
.user-contact-info{
    /* display: inline-flex;
    justify-content: space-between;
    
    padding-right: 1.5rem; */
    opacity: 0.8;
    font-size: 1;
    font-weight: 500;
    
}
.user-contact-info span i{
    color: var(--amarillo);
    
    
}
.user-contact-info span{
    color: var(--negrish);
    display:inline-flex;
    
}



button.copy {
    border: none;
    color: white;
    background-color: white;
    margin: 3px;
}