 @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: center;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.map-title {
  text-align: center; 
  margin-top: 20px;
h1{
font-family: Montserrat;
background-color: beige;
}
body{
  background-color: hsl(30, 97%, 76%);
}
.map-container {
  position: relative;
  width: 850px;
  height: 60px;
}

.map-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:hsl(30, 97%, 76%);
} */
